# vi: ft=gitignore

/.*.ghci
/hsh
/md5
/sha1
/abc
/pbkdf
RFC-6234


# Haskell
dist-newstyle
*.hi

# macOS
Music Library.musiclibrary
Media.localized
.localized
.DS_Store
_DS_Store
*.dSYM


# Misc
**/bin/**
**/obj/**
dist
build
Packages
tags
.vagrant
.lego
.scannerwork/
sonar-project.properties
*.o
*.swp
*.pid
*~
~$*
*.vrb
*.snm
*.out
*.nav
*.dtmp
*.bkp
*.nav
*.vrb
*.snm
.web-extension-id
web-ext-artifacts
.suo
peda-session*
*.core
*.orig
*.diff
*.rej
.build
